In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
train=pd.read_csv('train.csv')
test = pd.read_csv("test.csv")

In [3]:
train_data = train[["Pclass", "Sex", "SibSp", "Parch"]]

In [4]:
y = train["Survived"]

In [5]:
features = ["Pclass", "Sex", "SibSp", "Parch"]

In [6]:
X = pd.get_dummies(train[features])

In [7]:
X

     Pclass  SibSp  Parch  Sex_female  Sex_male
0         3      1      0           0         1
1         1      1      0           1         0
2         3      0      0           1         0
3         1      1      0           1         0
4         3      0      0           0         1
..      ...    ...    ...         ...       ...
886       2      0      0           0         1
887       1      0      0           1         0
888       3      1      2           1         0
889       1      0      0           0         1
890       3      0      0           0         1

[891 rows x 5 columns]

In [8]:
 X_test_data = pd.get_dummies(test[features])

In [9]:
X_test_data

     Pclass  SibSp  Parch  Sex_female  Sex_male
0         3      0      0           0         1
1         3      1      0           1         0
2         2      0      0           0         1
3         3      0      0           0         1
4         3      1      1           1         0
..      ...    ...    ...         ...       ...
413       3      0      0           0         1
414       1      0      0           1         0
415       3      0      0           0         1
416       3      0      0           0         1
417       3      1      1           0         1

[418 rows x 5 columns]

In [10]:
X_test_data.shape

(418, 5)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [12]:
X_train.shape

(712, 5)

In [13]:
X_test.shape

(179, 5)

In [14]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [16]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", (accuracy * 100))

Accuracy: 79.3296089385475

In [17]:
X_test_data_scale = scaler.transform(X_test_data)
predictions = model.predict(X_test_data_scale)

In [18]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived':predictions})

In [20]:
output.to_csv('output.csv', index=False)

In [ ]:
output

In [ ]:
train